body, p {
  font-family: "Inter", Arial, sans-serif;
}

.navbar-default.mainnavbar {
  background-color: #ff6d04;
}

.navbar-default.mainnavbar .navlinks a {
  color: white !important;
}

.api-logo {
  display: inline;
  max-width: 24px;
  height: auto;
}
