body, p {
  font-family: "Inter", Arial, sans-serif;
}

.navbar-default.mainnavbar {
	background-color: rgba(255, 109, 4, 1);
}

.navbar-default.mainnavbar .navlinks a {
	color: white !important;
}

.api-logo {
	display: inline;
	max-width: 24px;
	height: auto;
}